/* Sean Lum's CSS Reset v1.0
 */

* { margin: 0; padding: 0; }

html {
	overflow-y: scroll;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

html, body, 
section, nav, article, aside,
h1, h2, h3, h4, h5, h6,
header, footer,
address, main, 
p, pre, big, blockquote, ol, ul, li, dl,
dt, dd, figure, figcaption, caption, div, a,
em, strong, small, s, cite, q, dfn, strike, 
data, time, code, var, samp, sub, tt, var, 
sup, i, b, u, mark, bdi, bdo, center, 
span, br, ins, del, img, canvas, map,
area, svg, math, table, caption, colgroup,
col, tbody, thead, tfoot, tr, td, th,
form, fieldset, legend, label, input, 
button, select, datalist, optgroup, 
option, textarea, keygen, output, progress,
meter, details, summary, menuitem, menu {
	_margin: 0; /* IE6 */
	_padding: 0; /* IE6 */
	margin: 0; 
	padding: 0; 
	border: 0;
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%; 
	font: inherit;
	vertical-align: baseline;
	background: transparent;
	position: relative;
}

section, nav, article, aside, header, footer, 
address, main, hgroup, menu, nav, figcaption,
details, figure, summary {
	display: block;
}

[hidden] {
	display: none;
	visibility: hidden !important;
}

body {
	line-height: 1;
	margin: 0 !important;
	padding:0 !important;
}

form {
	padding: 0; margin: 0;
	font-size: 85%;
}

label {
	vertical-align: top;
	padding:5px; 
	margin:0 0 0.1em 0;
	top: .5em; 
}

input, select {
	vertical-align: middle;
}

output {
	z-index: 100;
}

input, textarea, select, button, output {
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	*font-size:inherit;
	*overflow: visible;
	margin: 0;
	vertical-align: baseline;
	*vertical-align: middle;
	line-height: normal;
	clear: both !import;
}

textarea {
	overflow: auto;
	vertical-align: top;
}

input[type="file"] {
	color:#333333;
	border:1px solid #c0c0c0;
}

button, html input[type="button"],
input[type="reset"], input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
	*overflow: visible;
	letter-spacing: 0.05em;
	border:0;
}

input[type="text"], input[type="search"], label {
	vertical-align: top;
}

input[type="text"], input[type="email"],
input[type="password"], input[type="search"],
input[type="email"], input[type="url"],
input[type="date"], input[type="month"],
input[type="datetime-local"], input[type="week"], 
input[type="datetime"], input[type="time"], 
input[type="number"] {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	outline: none;
	position:relative;
	border: 1px solid rgba(0,0,0, 0.3);
	margin:0 0 8px 0;
	padding:3px;
	top: 5px;
}

input[type="range"],
input[type=range]:-moz-focusring {
	outline: 0;
	outline: 1px solid #fff;
}

input[type="range"]:focus {
	outline: none;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type=range]:focus,
textarea:focus {
	outline: none;
	border:1px solid #D0D0D0;
}

button[disabled], input[disabled] {
	cursor: default;
}

input[type="checkbox"], input[type="radio"] {
	position:relative; float: left;
	clear: none; display: block;
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	vertical-align: middle;
	padding: 0;
	margin: 2px;
	*height: 13px; 
	*width: 13px;
}

input[type="search"] {
	-webkit-appearance: textfield;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

input[type="color"] {
	top:5px;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border:0; padding: 0;
}

legend {
	color:#000000;
	border: 0;
	padding: 0;
	white-space: normal;
	*margin-left: -7px;
}

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}

ol, ul, dl, nav ul, mav ol, menu {
	list-style: none;
	list-style-image: none;
}

blockquote, q {
	quotes: none;
	margin: 1em 40px;
}

blockquote: before, blockquote: after,
q:before, q:after {
	content: '';
	content: none;
}

small {
	font-size:65%;
}

em, strong, b, dt {
	font-weight: bold;
}

dfm, cite, em, i {
	font-style: italic;
}

mark {
	background-color:#333;
	color:#eee;
	font-style: italic;
	font-weight: bold; 
	font-weight: 800;
}

abbr, acronym {
	border: 0;
	font-variant: normal;
}

dfn {
	font-style: italic;
}

p, pre {
	margin: 1em 0;
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
}

pre, code {
	font-family: "Courier", monospace, Sans-serif;
	line-height: 1.6em;
	overflow: auto;
}

code, kbd, pre, samp, sample {
	font-family: monospace, serif;
	_font-family: 'courier new', monospace, Sans-serif;
	font-size:1em;
}

a {
	margin: 0; padding: 0;
	font-size: 0; font-size: 100%;
	vertical-align: baseline;
	background: transparent;
	text-decoration: none;
}

a:focus, a:active, a:hover {
	outline: none;
}

a img {
	border:0; outline: 0;
}

address, caption, cite, dfn, var {
	font-weight: normal;
	font-style: normal;
}

abbr[title] {
	border-bottom: 1px dotted;
}

sub, sup {
	font-size: 75%;
	line-height: 0; 
	position: relative;
	vertical-align: baseline;
}

sup {
	vertical-align: text-top;
	top: -0.5em;
}

sub {
	vertical-align: text-bottom;
	bottom: -0.25em;
}

del, strike {
	text-decoration: line-through; 
}

abbr[title], dfn[title] {
	text-decoration: underline;
	border-bottom: 1px dotted;
	cursor: help;
}

big {
	font-size:1.35em;
}

h1 {
	font-size: 2em;
	padding:.07em;
}

h2 {
	font-size: 1.5em;
	padding:.09em;
}

h3 {
	font-size:1.18em;
	padding:0.11em;
}

h4 {
	font-size: 1em;
	padding:0.075em;
}

h5 {
	font-size:0.85em;
	padding:0.11em;
}

h6 {
	font-size:0.75em;
	padding:0.09em;
}


table {
	border-collapse: collapse;
	border-spacing: 0;
	border: 0 none;
}

svg:not(:root) {
	overflow: hidden;
}

img, fieldset {
	border:0;
}

figure {
	margin: 0 !important;
}

audio:not([controls]) {
	display: none;
	height:0;
}

audio, canvas, video {
	display: inline-block;
	*display: inline;
	*zoom: 1;
}

video, audio, source, track {
	border: 0;
}

iframe, frame, embed, object, param {
	display: inline;
	border:1px solid #c0c0c0;
}
/*  style, script, ruby, rt, rp, applet, template, noscript */ 
hr, wbr, ins {
	display: block;
	background-color: #333;
	color: #eee; 
	text-decoration: none; 
	border:0 none;
	margin:1em 0;
	padding: 0;
}

hr {
	margin:1.15em;
	padding:0;
	height: 1px;
	color:#333333;
}

::-webkit-validation-bubble {
	opacity: 1;
}
::-webkit-validation-bubble-arrow-clipper,
::-moz-validation-bubble-arrow-clipper {
}
::-webkit-validation-bubble-arrow {
	background-color:#303030;
	border: 1px solid lime;
}
::-webkit-validation-bubble-message {
	background: -webkit-linear-gradient(#303030, #000000);
	color:lime;
}
